.brand {
  padding-top: 140px;
  width: 100%;
  overflow-x: hidden;
}

.brand .brand_video_area {
  width: 100%;
  height: 65vh;
  overflow: hidden;
  position: relative;
}

.brand .brand_video {
  width: 100%;
}

.brand .brand_image_area {
  margin: 30px auto 50px;
  width: 1200px;
}

.brand img {
  width: 100%;
}
