.brand {
  padding-top: 72px;
  width: 100%;
}

.brand .brand_video_area {
  width: 100%;
}

.brand .brand_video {
  width: 100%;
}

.brand .brand_image_area {
  margin-top: 30px;
  width: 100%;
  margin-bottom: 50px;
}

.brand img {
  width: 100%;
}
