.footer {
  background-color: #e4c1be;
  padding: 25px;
}

.footer .footer_menu {
  margin-bottom: 20px;
}

.footer .footer_menu li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: 'NotoSans';
  opacity: 0.7;
  display: block;
  height: 20px;
  padding: 10px 0px;
  cursor: pointer;
}

.footer .footer_info_menu {
  margin-bottom: 20px;
}

.footer .footer_info_menu:after {
  content: "";
  display: block;
  clear: both;
}

.footer .footer_info_menu li {
  float: left;
}

.footer .footer_info_menu li:nth-child(1) {
  width: 18%;
}

.footer .footer_info_menu li:nth-child(2) {
  width: 32%;
}

.footer .footer_info_menu li:nth-child(3) {
  width: 18%;
}

.footer .footer_info_menu li:nth-child(4) {
  width: 32%;
}

.footer .footer_info_menu li a {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  font-family: 'NotoSans';
  display: block;
  height: 20px;
  cursor: pointer;
}

.footer .address_info {
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  font-family: 'NotoSans';
  margin-bottom: 20px;
}

.footer .address_info p {
  margin-bottom: 5px;
}

.footer .link_sns {
  margin-bottom: 20px;
}

.footer .link_sns:after {
  content: '';
  display: block;
  clear: both;
}

.footer .link_sns li {
  float: left;
}

.footer .link_sns img {
  height: 26px;
  margin-right: 25px;
  cursor: pointer;
}

.footer .copy {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  font-family: 'NotoSans';
}
